@font-face {
    font-family: 'Acrom';
    src: url('fonts/Acrom-Regular.eot');
    src: url('fonts/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Acrom-Regular.woff') format('woff'),
         url('fonts/Acrom-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('fonts/Acrom-Medium.eot');
    src: url('fonts/Acrom-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Acrom-Medium.woff') format('woff'),
         url('fonts/Acrom-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom';
    src: url('fonts/Acrom-Bold.eot');
    src: url('fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Acrom-Bold.woff') format('woff'),
         url('fonts/Acrom-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* .tabulator .tabulator-header .tabulator-col[data-sortable=true] .tabulator-col-title {width: 100%;}
.tabulator-arrow {display: none;} */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #959fdb;
}

/* table striped css */
.table-striped tr:nth-child(even) {
    background-color: #79ffff;
}

#select-tab>li>a.active {
    background-color: #757575 !important;
    color: #fff;
}

.text-responsive {
    font-size: calc(50% + 1vw + 1vh);
  }
  

/* .bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

.container-index {
    vertical-align: middle;
}

.dropdown-menu > a:hover,
.dropdown-menu > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #7a7a7a;
}

.cover-index {
    background-color: #070914;
    background-image: url("../styles/image/bg1.jpg");
    font-family: Acrom;
}

.cover-dashboard {
    background-color: #070914;
    background-image: url("../styles/image/bg_ai32.jpg");
    
    font-family: Acrom;
}

.container-fluid {
    min-width:1280px;
 }

.center {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
height: 230px;
width: 90%;
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.tooltip-inner {
    background-color: #f00 !important;
    color: #f00 ;
  }
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
border-top-color: #f00 !important;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
border-right-color: #f00 !important;
}


.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
border-bottom-color: #f00 !important;
}


.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
border-left-color: #f00 !important;
}

@media(max-width: 768px) {
    .modal-dialog {
      min-height: calc(100vh - 20px);
    }
  }

/* login */

* { margin: 0; padding: 0; }
body { background: #0b0d15; }

.holder { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.main { display: table; table-layout: fixed; width: 100%; }
.main-item { position: relative; display: table-cell; vertical-align: middle; }
.logo-h { display: none; }
.logo { float: right; width: 45%; max-width: 350px; }
.logo-m { display: block; width: 85%; margin: 0 auto; padding: 25px 0 0 0; }
.auth { width: 275px; margin: 0 auto; padding: 30px 0; }
@media (min-width: 992px){
    .auth { width: 370px; margin: 0 auto; padding: 0px 0; }
}
.auth-item { position: relative; margin: 0 0 0 0; }
.auth input { width: 265px; height: 30px; border: 0; border-bottom: 1px solid #6a6c77; background: transparent; font: 14px 'Acrom', sans-serif; color: #7d7f89; }
.auth input:-webkit-autofill {
    -webkit-box-shadow: 0px 0px 0px 30px #080f19 inset;
    box-shadow: 0px 0px 0px 30px #080f19 inset;
    -webkit-text-fill-color: #7d7f89 !important;
}
.auth input:focus { outline: 0; border-color: #117be3; color: #fff; }
.auth input.error { color: #e31147; border-color: #ce1042; }
.auth .error-text { font: 13px 'Acrom', sans-serif; color: #e31147; padding: 15px 0 0 0; }
/* .auth button { width: 100%; height: 3px; padding: 0 20px; font: 13px 'Acrom', sans-serif; color: #fff; line-height: 43px; text-align: center; text-decoration: none; text-transform: uppercase; background: #117be3; border: 0; border-radius: 3px; cursor: pointer; white-space: nowrap; } */
.auth button:hover { opacity: 0.8; }
.items { display: table; table-layout: fixed; width: 100%; }
.item { display: table-cell; vertical-align: middle; }
.text { font: 13px 'Acrom', sans-serif; color: #626470; padding: 15px 0 0 0; }
.copy { padding: 5px 0 25px 0; font: 13px 'Acrom', sans-serif; color: #7c7e89; text-align: center; }
.signup { float: right; }
.signup-text { font: 13px 'Acrom', sans-serif; color: #7c7e89; }
.signup-link { font: 16px 'Acrom', sans-serif; color: #fff; text-decoration: none; border-bottom: 1px solid #117be3; }
.signup-link:hover { opacity: 0.8; }
.forgot { position: absolute; top: 7px; right: 0; font: 13px 'Acrom', sans-serif; color: #626470; text-decoration: none; cursor: pointer; }
.forgot:hover {
    opacity: 0.8;
}
.g-recaptcha { transform-origin: 0 0; transform: scale(0.91); }
.push { height: 65px; display: none; }

.auth.--a {
    border: 0;
}

/* .uli li {
    margin-left: 5px;
} */

/* .uli label {
    margin-left: 15px;
} */
.push2 { margin-bottom: 30px}
.margintop { margin-top: 10%}

@media (min-width: 768px){
  .margintop { margin-top: 2%}
}

.auth-help {
    display: table; float: right; padding: 0 70px 0 0;
    max-width: 290px;
    border-right: 1px solid #212536;
}
.auth-help__text {
    margin: -22px 0 15px 0;
    font: bold 16px 'Acrom', sans-serif; color: #1070df;
    text-align: center;
}
.auth-help__extra {
    font: 13px/18px 'Acrom', sans-serif; color: #5f616c;
    text-align: center;
}
.auth-help__logo {
    display: table; margin: 0 auto 25px auto;
}
.auth-help__logo img {
    display: block; width: 262px;
}
.auth-help .signup-link {
    display: table; margin: 0 auto 25px auto;
}
/* .auth-help__img {
    display: block; margin: 0 auto;
} */
.auth-help__img-hh {
    padding: 40px 0 0 0;
}
.auth-help__img-h {
    position: relative;
    width: 200px; margin: 0 auto 40px auto;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(17,123,227,0.3);
    -moz-box-shadow: 0px 0px 40px 0px rgba(17,123,227,0.3);
    box-shadow: 0px 0px 40px 0px rgba(17,123,227,0.3);
}
.auth-help__img {
    display: block; width: 200px;
}
.auth-help__play {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    display: block;
}
.auth-help__play-btn {
    display: block; margin: 0 auto; height: 60px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.auth-help__play:hover .auth-help__play-btn {
    cursor: pointer;
    opacity: 1;
}
.auth-help.--a {
    display: block; max-width: 100%; padding: 0 30px 30px 30px; float: none;
}

.auth-leader {
    font: 25px 'Acrom', sans-serif; color: #fff;
    margin: 0 0 25px 0;
}

.login-footer {
    width: 280px; margin: auto;
}
/* .footer-p {
    position: relative; bottom: 0px;
} */

.main2 { display: table; table-layout: fixed; width: 100%; height: 100%; }

@media (min-width: 992px){
    .login-footer {text-align: center; width: 70%; margin: auto;}
    /* .footer-p {margin-top: -150px} */
}

@media (min-width: 768px){
    .logo { margin: 0 35px 65px 0; }
    .logo-h { display: table-cell; }
    .logo-m { display: none; }
    /* .auth { margin: 0; padding: 0px 0 5px 0; } */
    /* .auth button { width: auto; } */
    .footer { position: absolute; bottom: 0; left: 0; width: 346px; height: 65px;  }
    .copy { padding: 25px 0 25px 0; text-align: left;  }
    .push { display: block; }
    .auth-help.--a {
        display: none;
    }
}
@media (min-width: 992px){
    .logo { margin: 0 70px 65px 0; }
}

.tbl { display: table; table-layout: fixed; }
.tbl--top > .cll { vertical-align: top; }
.tbl--bot > .cll { vertical-align: bottom; }
.tbl--100 { width: 100%; }
.tbl--100h { height: 100%; }
.cll { display: table-cell; vertical-align: middle; }
.trw { display: table-row; }
.tbl--xs, .tbl--sm { display: block; }
.tbl--xs > .cll, .tbl--sm > .cll { display: block; }
.tbl--xs > .trw, .tbl--sm > .trw { display: block; }
@media (min-width: 768px){
    .tbl--xs { display: table; }
    .tbl--xs > .cll { display: table-cell; }
    .tbl--xs > .trw { display: table-row; }
}
@media (min-width: 992px){
    .tbl--sm { display: table; }
    .tbl--sm > .cll { display: table-cell; }
    .tbl--sm > .trw { display: table-row; }
}

.w100p { width: 100%; }
.h100p { height: 100%; }

.b-profile-switch {
  position: relative;
  display: block;
  width: 20px; height: 20px;
}
.b-profile-switch input {
    display: none;
}
.b-profile-switch input + span {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    cursor: pointer;
    border: 1px solid #6a6c77; border-radius: 50%;
    transition: .4s;
}
.b-profile-switch input + span:before {
    position: absolute; bottom: 3px; left: 3px;
    content: '';
    display: none; width: 12px; height: 12px;
    background-color: #117be3;
    border-radius: 50%;
    transition: .4s;
}
.b-profile-switch input + span + span {
    position: absolute; left: 35px;
    font-size: 14px;
    font-weight: 500;
    color: #999ea5;
    line-height: 20px;
    text-transform: none;
    white-space: nowrap;
    transition: .4s;
    user-select: none;
    cursor: pointer;
}
.b-profile-switch-text {
    font: 14px "Acrom";
    color: #7c7e89;
    line-height: 20px;
    user-select: none;
    margin: 0 0 0 15px;
}
.b-profile-switch-text a {
/*    color: #117be3;*/
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #117be3;
}
.b-profile-switch-text a:hover {
    opacity: 0.8;
}
.b-profile-switch-text.b--error {
    color: #e31147;
}
.b-profile-switch input:checked + span:before {
    display: block;
}
/*
.b-profile-switch input:checked + span + span,
.b-profile-switch-text.b--checked {
    color: #117be3;
}
*/
.b-profile-switch.b--error input + span {
    border-color: #e31147;
}
.b-profile-switch.b--error input + span + span {
    color: #e31147;
}

.footer-nav {
    text-align: center;
    margin: 0 0 25px 0;
}
.footer-nav a {
    display: inline-block; margin: 0 0 0 10px;
    font: 13px "Acrom"; color: #117be3;
}
.footer-nav a:first-child {
    margin: 0;
}
.footer-nav a:hover {
    color: #fff;
}
@media (min-width: 768px){
    .footer-nav {
        text-align: right;
        float: right;
        margin: 0;
    }
}

.b-header__lang {
    position: relative;
    display: table;
    font: 13px "Acrom"; color: #666b73;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
}
.b-header__lang-h:hover {
    cursor: pointer;
    opacity: 0.8;
}
.b-header__lang-text {
    color: #fff;
    margin-left: 5px;
    text-transform: uppercase;
}
.b-header__lang-items {
    position: absolute; bottom: -5px; right: -10px; z-index: 777;
    display: none;
    background: #1a1c28;
    border-radius: 2px;
}
.b-header__lang-item {
    display: table; margin: 5px 0; padding: 0 10px;
    color: #fff;
    text-align: right;
    user-select: none;
    white-space: nowrap;
}
.b-header__lang-item:hover {
    cursor: pointer;
    opacity: 0.8;
}
.b-header__lang-item .tbl {
    float: right;
}
.b-header__lang-img {
    display: block; width: 26px; height: 26px;
    margin: 0 0 0 10px;
}
.b-header__lang.b--open .b-header__lang-l {
    visibility: hidden;
}
.b-header__lang.b--open .b-header__lang-items {
    display: block;
}
@media (min-width: 768px){
    .b-header__lang {
        margin: 0;
        float: right;
    }
    .b-header__lang.b--main {
        margin: 0;
    }
    .b-header__lang.b--main.b--auth {
        position: absolute; top: 9px; right: 9px;
    }
}
@media (min-width: 1200px){
    .b-header__lang.b--main.b--auth {
        margin: 0 30px 0 0;
    }
}

/* .dropdown-menu {

    padding: 0px 10px;
  }

.dropdown-menu input[type="search"] {
padding: 3px 5px;
width: 100%;
margin: 10px 10px 10px 0px;
} */


.spani a span {
    opacity: 0;
    pointer-events: none;
    background: #003535;
    padding: 4px 10px;
    text-align: left;
    float: left;
    /* width: 170px; */
    position: absolute;
    /* left: 50%; */
    margin-top: -38px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 9px;
    /* bottom: 30px; */
    color: #fcfcfc;
    font-weight: bold;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transform: translateY(30px);
  }

  .spani a:hover {
    color: orange;
  }

  .spani a:hover span {
    opacity: 1;
    transform: translateY(15px);
  }

  .vertical-scrollbar {
    /* border: 1px solid #e8e8e8; */
    height: 435px;
    overflow: auto;
    padding: 0.5rem;
    width: 100%;
    /**
     * Target browsers: Firefox (W3C 'Working Draft' status).
     */
    scrollbar-width: thin;
    scrollbar-color:  #9d9d9d #f7f3f3ee;
    /**
     * Target browsers: Blink- and Webkit-based (Chrome, Safari, Opera, Edge, iOS, …)
     */
  }
  .vertical-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  .vertical-scrollbar::-webkit-scrollbar-thumb {
    background: #9d9d9d;
    border: 3px solid #f7f3f3ee;
    border-radius: 6px;
  }
  .vertical-scrollbar::-webkit-scrollbar-track {
    background: #f7f3f3ee;
  }

  /**pagination*/
  .wrapper{
    margin: 10px auto;
    text-align: center;
  }
  /* h1{
    margin-bottom: 1.25em;
  } */
  #pagination-demo{
    display: inline-block;
    margin-top: -5px;
    position: absolute;
    right: 15px;
  }
  #pagination-demo li{
    display: inline-block;
  }

  #pagination-demo li a{
    font-size: 11px;
    padding: 1px 8px;
    font-weight: 500;
    /* margin-bottom: 5px; */
  }

  #pagination_trade_report{
    display: inline-block;
    margin-top: -5px;
    position: absolute;
    right: 15px;

  }
  #pagination_trade_report li{
    display: inline-block;
  }

  #pagination_trade_report li a{
    font-size: 11px;
    padding: 1px 8px;
    font-weight: 500;
    /* margin-bottom: 5px; */
  }

  #pagination_trade_details{
    display: inline-block;
    margin-top: 0px;
    position: absolute;
    right: 15px;
  }

  #pagination_trade_details li{
    display: inline-block;
  }

  #pagination_trade_details li a{
    font-size: 11px;
    padding: 1px 8px;
    font-weight: 500;
    /* margin-bottom: 5px; */
  }

  #pagination_post_request_response{
    display: inline-block;
    margin-top: 0px;
    position: absolute;
    right: 15px;
  }

  #pagination_post_request_response li{
    display: inline-block;
  }

  #pagination_post_request_response li a{
    font-size: 11px;
    padding: 1px 8px;
    font-weight: 500;
    /* margin-bottom: 5px; */
  }

  #pagination_test_history{
    display: inline-block;
    margin-top: -12px;
    position: absolute;
    right: 15px;
  }

  #pagination_test_history li{
    display: inline-block;
  }

  #pagination_test_history li a{
    font-size: 11px;
    padding: 1px 8px;
    font-weight: 500;
    /* margin-bottom: 5px; */
  }

  #pagination_performance_report{
    display: inline-block;
    margin-top: -5px;
    position: absolute;
    right: 15px;
  }

  #pagination_performance_report li{
    display: inline-block;
  }

  #pagination_performance_report li a{
    font-size: 11px;
    padding: 1px 8px;
    font-weight: 500;
    /* margin-bottom: 5px; */
  }

  .page-content{
    background: #eee;
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 660px;
  }

  table.sectioned tbody {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 4px;
  }
